@media only screen
    and (max-width : 414px){

      .title{
        width: 100vw;
      }
      .App{
        width: 100vw;
      }
    .StyledUIContainer {
        height: 100vh;
      }
      .local{
        top: 5vh;
       left: 5vw;
       width: 100px;

      }
      .remote video{
      margin: 0 auto;
      height: 736px;
      justify-content: center;
      align-self: center;
      width: auto;
      }
      .remote {
        display: flex;


      }
    }
