@media only screen
    and (max-width : 414px){

      .title{
        width: 100vw;
      }


      .StyledUIContainer{
        margin: 0 auto;
      }
      .StyledMainContainer{
        margin: 0;
        width: 100vw;
        height: 100vh;
      }
      .local{
       width: 100px;

      }
      .remote video{
      }
      .remote {
        display: flex;
      }
      .chat{
        width: 100vw;
      }
      textarea{
        width: 100vw;
      }
      .chat{
          position: absolute;
          margin-left: 0;
          bottom:2vh;
          background-color: rgba(255, 255, 255, 0.0);
        }

    }
