@media only screen
    and (max-width : 414px){

      .title{
        width: 100vw;
      }
      .App{
        width: 100vw;
      }

      .Home{
       text-align: center;
       height: 100%;
        max-width: 300px;
      }
    .StyledUIContainer {
        height: 100vh;
      }
      .local{
        top: 5vh;
       width: 100px;

      }
      .remote video{
      margin: 0 auto;
      height: 736px;
      justify-content: center;
      align-self: center;
      width: auto;
      }
      .remote {
        display: flex;
      }
      .chat{
        width: 100vw;
      }
      textarea{
        width: 100vw;
      }
    }
